@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum,
		sans-serif;;
}

.loginForm {
	text-align: center;
}

.logintf {
	
}

.btn {
	position: relative;
	left: 47%;
	transform: translateX(-50%);
	margin-top: 15px; margin-bottom : 40px;
	width: 40%;
	height: 40px;
	background-color: #fb4357;
	font-size: 16px;
	color: #ffffff;;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
	color: #ffffff;
	text-align: center;
}