<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.inquiryMapper">

	<insert id="insertInquiry">
		INSERT INTO INQUIRY(IQ_NUM, MEM_NUM, IQ_NAME, IQ_DETAIL, IQ_PICTURE, IQ_DATE, IQ_TYPE)
		VALUES(#{IQ_NUM},#{MEM_NUM},#{IQ_NAME},#{IQ_DETAIL}, #{IQ_PICTURE}, #{IQ_DATE},#{IQ_TYPE})
	</insert>
	
	<select id="getMaxNum" resultType="java.lang.Integer">
		select MAX(CAST(IQ_NUM AS UNSIGNED)) AS IQ_NUM from INQUIRY 
	</select>

<!-- 	전체공개만 보이게 -->
	<select id="getInquiryList" resultType="java.util.LinkedHashMap" parameterType="com.itwillbs.domain.PageDTO">
		SELECT M.MEM_NICKNAME
			 , I.IQ_NUM
			 , I.MEM_NUM
			 , I.IQ_NAME
			 , I.IQ_DETAIL
			 , I.IQ_PICTURE
			 , I.IQ_DATE
			 , I.IQ_TYPE
			 , DATE_FORMAT(I.IQ_DATE, '%Y-%m-%d') AS IQ_DATE_FORMAT
			 , ROW_NUMBER() OVER(ORDER BY CAST(I.IQ_NUM AS UNSIGNED)) AS RN
			 , IF(A.AS_NUM IS NOT NULL, '답변완료', NULL) AS ISANSWERED 
			 , A.AS_NUM
		  FROM INQUIRY I 
		  LEFT JOIN MEMBERS M
			ON I.MEM_NUM = M.MEM_NUM
		  LEFT JOIN ANSWER A
		    ON I.IQ_NUM = A.IQ_NUM
		 WHERE I.IQ_TYPE LIKE "%T%"
		 <if test="search != null and !search.equals('')">
		   AND I.IQ_NAME LIKE CONCAT('%',#{search},'%') 
		 </if>
		  ORDER BY CAST(I.IQ_NUM AS UNSIGNED) DESC
		  LIMIT #{startRow}, #{pageSize}
	</select>
<!-- 	전체공개글(T) 갯수 -->
	<select id="getInquiryCount" resultType="java.lang.Integer">
		select count(*) from INQUIRY
		WHERE IQ_TYPE LIKE "%T%"
		<if test="search != null and !search.equals('')">
		AND IQ_NAME LIKE CONCAT('%',#{search},'%') 
		</if>			
	</select>
<!-- 	나의문의글 갯수 -->
	<select id="getMyInquiryCount" resultType="java.lang.Integer" parameterType="Map">
		select count(*) from INQUIRY
		WHERE MEM_NUM = #{MEM_NUM}			
	</select>
	
	<!-- 관리자 전체,비공개 모두 보이게 -->
	<select id="adminInquiry" resultType="java.util.LinkedHashMap" parameterType="java.lang.String">
		SELECT M.MEM_NICKNAME
			 , I.IQ_NUM
			 , I.MEM_NUM
			 , I.IQ_NAME
			 , I.IQ_DETAIL
			 , I.IQ_PICTURE
			 , I.IQ_DATE
			 , DATE_FORMAT(I.IQ_DATE, '%Y-%m-%d') AS IQ_DATE_FORMAT
			 , I.IQ_TYPE
			 , IF(A.AS_NUM IS NOT NULL, '답변완료', NULL) AS ISANSWERED
			 , A.AS_NUM 
             , A.AS_DETAIL
             , A.AS_DATE
	 	  FROM INQUIRY I
	 	  LEFT JOIN MEMBERS M
		  ON I.MEM_NUM = M.MEM_NUM
		  LEFT JOIN ANSWER A
		  ON I.IQ_NUM = A.IQ_NUM
		  WHERE I.IQ_NUM = #{IQ_NUM}
	</select>
	
<!-- 	전체공개만 보이게 -->
	<select id="getInquiry" resultType="java.util.LinkedHashMap" parameterType="java.lang.String">
		SELECT M.MEM_NICKNAME
			 , I.IQ_NUM
			 , I.MEM_NUM
			 , I.IQ_NAME
			 , I.IQ_DETAIL
			 , I.IQ_PICTURE
			 , I.IQ_DATE
			 , DATE_FORMAT(I.IQ_DATE, '%Y-%m-%d') AS IQ_DATE_FORMAT
			 , I.IQ_TYPE
			 , IF(A.AS_NUM IS NOT NULL, '답변완료', NULL) AS ISANSWERED
			 , A.AS_NUM 
             , A.AS_DETAIL
             , A.AS_DATE
	 	  FROM INQUIRY I
	 	  LEFT JOIN MEMBERS M
		  ON I.MEM_NUM = M.MEM_NUM
		  LEFT JOIN ANSWER A
		  ON I.IQ_NUM = A.IQ_NUM
		  WHERE I.IQ_NUM = #{IQ_NUM}
<!-- 		  AND I.IQ_TYPE LIKE "%T%" -->
	</select>
	
<!-- 	전체공개만 -->	
	<select id="getInquiryPrev" resultType="java.util.LinkedHashMap" parameterType="Map">
	SELECT M.MEM_NICKNAME
		 , I.IQ_NUM
		 , I.IQ_NAME
		 , A.AS_NUM
         , A.AS_DETAIL
         , A.AS_DATE
	  FROM INQUIRY I
	  LEFT JOIN MEMBERS M
		ON I.MEM_NUM = M.MEM_NUM
		LEFT JOIN ANSWER A
	    ON I.IQ_NUM = A.IQ_NUM
	    WHERE 1 = 1
	<if test="search != null and !search.equals('')">
	   AND I.IQ_NAME LIKE CONCAT('%',#{search},'%') 
	</if>
	<![CDATA[
	 AND CAST(I.IQ_NUM AS UNSIGNED) < #{inquiryNum}
	 AND I.IQ_TYPE LIKE "%T%"
	 ORDER BY ABS(CAST(I.IQ_NUM AS UNSIGNED) - #{inquiryNum})
	 LIMIT 1
	]]>
	</select>
<!-- 	전체공개글(T) 다음글 -->
	<select id="getInquiryNext" resultType="java.util.LinkedHashMap" parameterType="Map">
	SELECT M.MEM_NICKNAME
		 , I.IQ_NUM
		 , I.IQ_NAME
		 , A.AS_NUM
         , A.AS_DETAIL
         , A.AS_DATE
	  FROM INQUIRY I
	  LEFT JOIN MEMBERS M
		ON I.MEM_NUM = M.MEM_NUM
      LEFT JOIN ANSWER A
	    ON I.IQ_NUM = A.IQ_NUM
	    WHERE 1 = 1
	<if test="search != null and !search.equals('')">
	   AND I.IQ_NAME LIKE CONCAT('%',#{search},'%') 
	</if>
	<![CDATA[
	 AND CAST(I.IQ_NUM AS UNSIGNED) > #{inquiryNum}
	 AND I.IQ_TYPE LIKE "%T%"
	 ORDER BY ABS(CAST(I.IQ_NUM AS UNSIGNED) - #{inquiryNum})
	 LIMIT 1
	]]>
	</select>
<!-- 	나의문의내역 -->	
	<select id="getMyInquiryList" resultType="java.util.LinkedHashMap" parameterType="Map">
	SELECT *
		 , DATE_FORMAT(I.IQ_DATE, '%Y-%m-%d') AS IQ_DATE_FORMAT
		 , ROW_NUMBER() OVER(ORDER BY CAST(I.IQ_NUM AS UNSIGNED)) AS RN
		 , IF(A.AS_NUM IS NOT NULL, '답변완료', NULL) AS ISANSWERED
 	  FROM INQUIRY I
 LEFT JOIN ANSWER A
		ON I.IQ_NUM = A.IQ_NUM
 	 WHERE I.MEM_NUM = #{MEM_NUM}
 	 ORDER BY CAST(I.IQ_NUM AS UNSIGNED) DESC
		 LIMIT #{pageDTO.startRow}, #{pageDTO.pageSize}
	</select>
	
	
<!-- 	내가쓴 글 (전체,비공개) -->
	<select id="getMyPrev" resultType="java.util.LinkedHashMap" parameterType="Map">
	<![CDATA[
	SELECT M.MEM_ID
		 , I.IQ_NUM
		 , I.IQ_NAME
	  FROM INQUIRY I
	  LEFT JOIN MEMBERS M
		ON I.MEM_NUM = M.MEM_NUM
	 WHERE CAST(I.IQ_NUM AS UNSIGNED) < #{IQ_NUM}
     and I.MEM_NUM = #{MEM_NUM}
	 ORDER BY ABS(CAST(I.IQ_NUM AS UNSIGNED) - #{IQ_NUM})
	 LIMIT 1;
	 ]]>
	</select>
<!-- 	내가쓴 글 (전체,비공개) -->	
	<select id="getMyNext" resultType="java.util.LinkedHashMap" parameterType="Map">
	<![CDATA[
	SELECT M.MEM_ID 
		 , I.IQ_NUM
		 , I.IQ_NAME
	  FROM INQUIRY I
	  LEFT JOIN MEMBERS M
		ON I.MEM_NUM = M.MEM_NUM
	 WHERE CAST(I.IQ_NUM AS UNSIGNED) > #{IQ_NUM}
     and I.MEM_NUM = #{MEM_NUM}
	 ORDER BY ABS(CAST(I.IQ_NUM AS UNSIGNED) - #{IQ_NUM})
	 LIMIT 1;
	 ]]>
	</select>
	
	<update id="updateInquiry">
		update INQUIRY
		   set IQ_NAME = #{IQ_NAME}
		     , IQ_DETAIL = #{IQ_DETAIL}
		     , IQ_PICTURE = #{IQ_PICTURE}
		 where IQ_NUM = #{IQ_NUM}
	</update>
	
	<delete id="deleteInquiry" parameterType="java.lang.String">
		DELETE I
		  FROM INQUIRY I
	 LEFT JOIN ANSWER A ON I.IQ_NUM = A.IQ_NUM
		 WHERE I.IQ_NUM = #{IQ_NUM};
	</delete>

<!-- 	관리자 리스트 -->
	<select id="getAdminList" resultType="java.util.LinkedHashMap" parameterType="com.itwillbs.domain.PageDTO">
	SELECT M.MEM_NICKNAME
			 , I.IQ_NUM
			 , I.MEM_NUM
			 , I.IQ_NAME
			 , I.IQ_DETAIL
			 , I.IQ_PICTURE
			 , I.IQ_DATE
			 , I.IQ_TYPE
			 , DATE_FORMAT(I.IQ_DATE, '%Y-%m-%d') AS IQ_DATE_FORMAT
			 , ROW_NUMBER() OVER(ORDER BY CAST(I.IQ_NUM AS UNSIGNED)) AS RN
			 , IF(A.AS_NUM IS NOT NULL, '답변완료', NULL) AS ISANSWERED 
			 , A.AS_NUM
		  FROM INQUIRY I 
		  LEFT JOIN MEMBERS M
			ON I.MEM_NUM = M.MEM_NUM
		  LEFT JOIN ANSWER A
		    ON I.IQ_NUM = A.IQ_NUM
		 <if test="search != null">
		 WHERE I.IQ_NAME LIKE CONCAT('%',#{search},'%') 
		 </if>
		 ORDER BY CAST(I.IQ_NUM AS UNSIGNED) DESC
		 LIMIT #{startRow}, #{pageSize}
	</select>
	
<!-- 	관리자 이전글 -->	
	<select id="adminPrev" resultType="java.util.LinkedHashMap" parameterType="Map">
	SELECT M.MEM_NICKNAME
		 , I.IQ_NUM
		 , I.IQ_NAME
		 , A.AS_NUM
         , A.AS_DETAIL
         , A.AS_DATE
	  FROM INQUIRY I
	  LEFT JOIN MEMBERS M
		ON I.MEM_NUM = M.MEM_NUM
		LEFT JOIN ANSWER A
	    ON I.IQ_NUM = A.IQ_NUM
	    WHERE 1 = 1
	<if test="search != null and !search.equals('')">
	   AND I.IQ_NAME LIKE CONCAT('%',#{search},'%') 
	</if>
	<![CDATA[
	 AND CAST(I.IQ_NUM AS UNSIGNED) < #{IQ_NUM}
	 ORDER BY ABS(CAST(I.IQ_NUM AS UNSIGNED) - #{IQ_NUM})
	 LIMIT 1
	]]>
	</select>
<!-- 	관리자 이후글 -->		
	<select id="adminNext" resultType="java.util.LinkedHashMap" parameterType="Map">
	SELECT M.MEM_NICKNAME
		 , I.IQ_NUM
		 , I.IQ_NAME
		 , A.AS_NUM
         , A.AS_DETAIL
         , A.AS_DATE
	  FROM INQUIRY I
	  LEFT JOIN MEMBERS M
		ON I.MEM_NUM = M.MEM_NUM
      LEFT JOIN ANSWER A
	    ON I.IQ_NUM = A.IQ_NUM
	    WHERE 1 = 1
	<if test="search != null and !search.equals('')">
	   AND I.IQ_NAME LIKE CONCAT('%',#{search},'%') 
	</if>
	<![CDATA[
	 AND CAST(I.IQ_NUM AS UNSIGNED) > #{IQ_NUM}
	 ORDER BY ABS(CAST(I.IQ_NUM AS UNSIGNED) - #{IQ_NUM})
	 LIMIT 1
	]]>
	</select>
<!-- 	관리자 카운트 -->		
	<select id="getAdminCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM INQUIRY
		<if test="search != null">
		WHERE IQ_NAME LIKE CONCAT('%',#{search},'%') 
		</if>			
	</select>
	
<!-- 	나의문의내역 관리자 (비밀글만) -->
	<select id="getAdminListF" resultType="java.util.LinkedHashMap" parameterType="com.itwillbs.domain.PageDTO">
	SELECT *
		 , DATE_FORMAT(I.IQ_DATE, '%Y-%m-%d') AS IQ_DATE_FORMAT
		 , ROW_NUMBER() OVER(ORDER BY CAST(I.IQ_NUM AS UNSIGNED)) AS RN
		 , IF(A.AS_NUM IS NOT NULL, '답변완료', NULL) AS ISANSWERED
 	  FROM INQUIRY I
 LEFT JOIN ANSWER A
		ON I.IQ_NUM = A.IQ_NUM
	 WHERE I.IQ_TYPE LIKE '%F%'
 	 ORDER BY CAST(I.IQ_NUM AS UNSIGNED) DESC
		 LIMIT #{startRow}, #{pageSize}
	</select>
<!-- 	나의문의내역 관리자 카운트 (비밀글만) -->
	<select id="getAdminCountF" resultType="java.lang.Integer" parameterType="com.itwillbs.domain.PageDTO">
		SELECT COUNT(*)
		  FROM INQUIRY
		 WHERE IQ_TYPE LIKE '%F%' 
	</select>

</mapper>  