<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.MypageMapper">

	<select id="getMyInfo"
		resultType="com.itwillbs.domain.MypageDTO">
		select M.*, P.*
		from MEMBERS M
		left join POINT P ON
		M.MEM_NUM
		= P.MEM_NUM
		where M.MEM_ID = #{id};
	</select>

	<select id="getPointByMemberNum"
		resultType="com.itwillbs.domain.MypageDTO">
		SELECT *
		FROM POINT
		WHERE MEM_NUM = #{memberNum}
	</select>

	<select id="getPasswordByMemberId" resultType="String"
		parameterType="String">
		SELECT MEM_PASS
		FROM MEMBERS
		WHERE MEM_ID = #{id}
	</select>

	<update id="updateMypage"
		parameterType="com.itwillbs.domain.MypageDTO">
		UPDATE MEMBERS
		SET
		MEM_NAME = #{MEM_NAME},
		MEM_PASS = #{MEM_PASS},
		MEM_GENDER = #{MEM_GENDER},
		MEM_PHONE = #{MEM_PHONE},
		MEM_EMAIL = #{MEM_EMAIL}
		WHERE MEM_ID = #{MEM_ID}
	</update>

	<update id="updateMystatus" parameterType="String">
		update MEMBERS
		set
		MEM_STATUS = '탈퇴유예',
		MEM_RESPITE = CURRENT_TIMESTAMP,
		MEM_OUT =
		DATE_ADD(CURRENT_TIMESTAMP, INTERVAL 6 MONTH)
		where MEM_ID = #{id}
	</update>

	<select id="getMyBookingList"
		resultType="com.itwillbs.domain.MypageDTO">
		SELECT
		TP.TP_NUM,
		TP.TP_PRICE,
		TP.TP_SEAT,
		TP.TP_TYPE,
		TP.TP_PAYMENT,
		TP.TP_TIME,
		M.MEM_ID,
		S.SC_TIME,
		S.SC_TIME_END,
		T.TH_NAME,
		T.TH_REGION,
		T.TH_NUMBER,
		MV.title
		FROM
		TICKETPAYMENT TP
		JOIN
		MEMBERS M ON TP.MEM_NUM
		= M.MEM_NUM
		JOIN
		SCREEN S ON TP.SC_NUM = S.SC_NUM
		JOIN
		CINEMA C ON
		S.CI_NUM = C.CI_NUM
		JOIN
		THEATER T ON C.TH_NUM = T.TH_NUM
		JOIN
		MOVIE MV ON
		C.MOVIE_NUM =
		MV.MOVIE_NUM
		WHERE
		M.MEM_ID =
		#{memberId}
		<if test="pageDTO.search != null and pageDTO.search != ''">
			AND (
			TP.TP_NUM LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR
			TP.TP_TIME LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR T.TH_REGION LIKE
			CONCAT('%', #{pageDTO.search}, '%')
			OR T.TH_NAME LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			OR T.TH_NUMBER LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			OR MV.title LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			)
		</if>
		ORDER BY
		TP.TP_NUM DESC
		LIMIT #{pageDTO.startRow}, #{pageDTO.pageSize}
	</select>

	<select id="getMyBookingInfo"
		resultType="com.itwillbs.domain.MypageDTO">
		SELECT
		TP.TP_NUM,
		TP.TP_PRICE,
		TP.TP_SEAT,
		TP.TP_TYPE,
		TP.TP_PAYMENT,
		TP.TP_TIME,
		M.MEM_ID,
		S.SC_TIME,
		S.SC_TIME_END,
		T.TH_NAME,
		T.TH_REGION,
		T.TH_NUMBER,
		MV.title
		FROM
		TICKETPAYMENT TP
		JOIN
		MEMBERS M ON
		TP.MEM_NUM = M.MEM_NUM
		JOIN
		SCREEN S ON TP.SC_NUM = S.SC_NUM
		JOIN
		CINEMA C ON S.CI_NUM = C.CI_NUM
		JOIN
		THEATER T ON C.TH_NUM = T.TH_NUM
		JOIN
		MOVIE MV ON C.MOVIE_NUM =
		MV.MOVIE_NUM
		WHERE
		TP.TP_NUM = #{tp_NUM}

	</select>

	<select id="getMemberNumByMemberId"
		resultType="java.lang.Integer">
		SELECT MEM_NUM FROM MEMBERS WHERE MEM_ID = #{id}
	</select>

	<select id="getBoardCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM TICKETPAYMENT TP
		JOIN MEMBERS M ON TP.MEM_NUM =
		M.MEM_NUM
		JOIN SCREEN S ON TP.SC_NUM = S.SC_NUM
		JOIN CINEMA C ON
		S.CI_NUM = C.CI_NUM
		JOIN THEATER T ON C.TH_NUM = T.TH_NUM
		JOIN MOVIE MV
		ON C.MOVIE_NUM = MV.MOVIE_NUM
		WHERE M.MEM_NUM = #{memberNum}
		<if test="pageDTO.search != null and pageDTO.search != ''">
			AND (
			TP.TP_NUM LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR
			S.SC_TIME LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR T.TH_REGION LIKE
			CONCAT('%', #{pageDTO.search}, '%')
			OR T.TH_NAME LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			OR T.TH_NUMBER LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			OR MV.title LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			)
		</if>
	</select>

	<select id="getMyStorePaymentList"
		resultType="com.itwillbs.domain.MypageDTO">
		SELECT
		SP.SP_NUM,
		SP.PRODUCT_TOTAL_PRICE,
		SP.PAYMENT_DATE,
		S.ST_NAME,
		S.ST_TYPE,
		S.ST_CONST
		FROM
		STOREPAYMENT SP
		JOIN
		STORE S ON SP.ST_NUM =
		S.ST_NUM
		JOIN
		MEMBERS M ON SP.MEM_NUM = M.MEM_NUM
		WHERE
		M.MEM_ID
		= #{memberId}
		<if test="pageDTO.search != null and pageDTO.search != ''">
			AND (
			SP.SP_NUM LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR
			SP.PRODUCT_TOTAL_PRICE LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR
			SP.PAYMENT_DATE LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR S.ST_NAME
			LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR S.ST_TYPE LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			OR S.ST_CONST LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			)
		</if>
		ORDER BY
		SP.SP_NUM DESC
		LIMIT #{pageDTO.startRow}, #{pageDTO.pageSize}
	</select>

	<select id="getStoreBoardCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM STOREPAYMENT SP
		JOIN STORE S ON SP.ST_NUM = S.ST_NUM
		JOIN MEMBERS M ON SP.MEM_NUM = M.MEM_NUM
		WHERE M.MEM_ID = #{memberId}
		<if test="pageDTO.search != null and pageDTO.search != ''">
			AND (
			SP.SP_NUM LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR SP.PRODUCT_TOTAL_PRICE LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR SP.PAYMENT_DATE LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR S.ST_NAME LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR S.ST_TYPE LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR S.ST_CONST LIKE CONCAT('%', #{pageDTO.search}, '%')
			)
		</if>
	</select>
	
	<select id="getMyStorePaymentInfo"
		resultType="com.itwillbs.domain.MypageDTO">
		SELECT
		SP.SP_NUM,
		SP.PRODUCT_TOTAL_PRICE,
		SP.PAYMENT_DATE,
		S.ST_NAME,
		S.ST_TYPE,
		S.ST_CONST
		FROM
		STOREPAYMENT SP
		JOIN
		STORE S ON SP.ST_NUM =
		S.ST_NUM
		JOIN
		MEMBERS M ON SP.MEM_NUM = M.MEM_NUM
		WHERE
		SP.SP_NUM = #{sp_num}
	</select>









</mapper>