<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.MypageMapper">

	<select id="getMyInfo"
		resultType="com.itwillbs.domain.MypageDTO">
		SELECT * FROM MEMBERS
		WHERE member_id = #{id}
	</select>

	<select id="getPointByMemberNum"
		resultType="com.itwillbs.domain.MypageDTO">
		SELECT *
		FROM POINT
		WHERE member_num = #{member_num}
	</select>

	<select id="getPasswordByMemberId" resultType="String"
		parameterType="String">
		SELECT member_pass
		FROM MEMBERS
		WHERE member_id = #{id}
	</select>

	<update id="updateMypage"
		parameterType="com.itwillbs.domain.MypageDTO">
		UPDATE MEMBERS
		SET
		member_name = #{member_name},
		member_pass = #{member_pass},
		member_gender = #{member_gender},
		member_phone = #{member_phone},
		member_email = #{member_email},
		member_address = #{member_address}
		WHERE member_id = #{member_id}
	</update>

	<update id="updateMystatus" parameterType="String">
		update MEMBERS
		set
		member_status = '탈퇴유예',
		member_respite = CURRENT_TIMESTAMP,
		member_out =
		DATE_ADD(CURRENT_TIMESTAMP, INTERVAL 6 MONTH)
		where member_id = #{id}
	</update>

	<select id="getMyBookingList"
		resultType="com.itwillbs.domain.MypageDTO">
		SELECT
		TP.TP_NUM,
		TP.TP_PRICE,
		TP.TP_SEAT,
		TP.TP_TYPE,
		TP.TP_PAYMENT,
		M.member_id,
		S.SC_TIME,
		S.SC_TIME_END,
		T.TH_NAME,
		T.TH_REGION,
		T.TH_NUMBER,
		MV.title
		FROM
		TICKETPAYMENT TP
		JOIN
		MEMBERS M ON TP.member_num
		= M.member_num
		JOIN
		SCREEN S ON TP.SC_NUM = S.SC_NUM
		JOIN
		CINEMA C ON
		S.CI_NUM = C.CI_NUM
		JOIN
		THEATER T ON C.TH_NUM = T.TH_NUM
		JOIN
		MOVIE MV ON
		C.MOVIE_NUM =
		MV.MOVIE_NUM
		WHERE
		M.member_id =
		#{memberId}
		<if test="pageDTO.search != null and pageDTO.search != ''">
			AND (
			TP.TP_NUM LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR
			S.SC_TIME LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR T.TH_REGION LIKE
			CONCAT('%', #{pageDTO.search}, '%')
			OR T.TH_NAME LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			OR T.TH_NUMBER LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			OR MV.title LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			)
		</if>
		ORDER BY
		TP.TP_NUM DESC
		LIMIT #{pageDTO.startRow}, #{pageDTO.pageSize}
	</select>

	<select id="getMyBookingInfo"
		resultType="com.itwillbs.domain.MypageDTO">
		SELECT
		TP.TP_NUM,
		TP.TP_PRICE,
		TP.TP_SEAT,
		TP.TP_TYPE,
		TP.TP_PAYMENT,
		M.member_id,
		S.SC_TIME,
		S.SC_TIME_END,
		T.TH_NAME,
		T.TH_REGION,
		T.TH_NUMBER,
		MV.title
		FROM
		TICKETPAYMENT TP
		JOIN
		MEMBERS M ON
		TP.member_num = M.member_num
		JOIN
		SCREEN S ON TP.SC_NUM = S.SC_NUM
		JOIN
		CINEMA C ON S.CI_NUM = C.CI_NUM
		JOIN
		THEATER T ON C.TH_NUM = T.TH_NUM
		JOIN
		MOVIE MV ON C.MOVIE_NUM =
		MV.MOVIE_NUM
		WHERE
		TP.TP_NUM = #{tp_NUM}

	</select>

	<select id="getMemberNumByMemberId"
		resultType="java.lang.Integer">
		SELECT member_num FROM MEMBERS WHERE member_id = #{id}
	</select>

	<select id="getBoardCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM TICKETPAYMENT TP
		JOIN MEMBERS M ON TP.member_num =
		M.member_num
		JOIN SCREEN S ON TP.SC_NUM = S.SC_NUM
		JOIN CINEMA C ON
		S.CI_NUM = C.CI_NUM
		JOIN THEATER T ON C.TH_NUM = T.TH_NUM
		JOIN MOVIE MV
		ON C.MOVIE_NUM = MV.MOVIE_NUM
		WHERE M.member_num = #{memberNum}
		<if test="pageDTO.search != null and pageDTO.search != ''">
			AND (
			TP.TP_NUM LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR
			S.SC_TIME LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR T.TH_REGION LIKE
			CONCAT('%', #{pageDTO.search}, '%')
			OR T.TH_NAME LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			OR T.TH_NUMBER LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			OR MV.title LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			)
		</if>
	</select>

	<select id="getMyStorePaymentList"
		resultType="com.itwillbs.domain.MypageDTO">
		SELECT
		SP.sp_num,
		SP.payment_total_price,
		SP.payment_date,
		S.ST_NAME,
		S.ST_TYPE,
		S.ST_CONST
		FROM
		STOREPAYMENT SP
		JOIN
		STORE S ON SP.st_num =
		S.ST_NUM
		JOIN
		MEMBERS M ON SP.member_num = M.member_num
		WHERE
		M.member_id
		= #{memberId}
		<if test="pageDTO.search != null and pageDTO.search != ''">
			AND (
			SP.sp_num LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR
			SP.payment_total_price LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR
			SP.payment_date LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR S.ST_NAME
			LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR S.ST_TYPE LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			OR S.ST_CONST LIKE CONCAT('%',
			#{pageDTO.search}, '%')
			)
		</if>
		ORDER BY
		SP.sp_num DESC
		LIMIT #{pageDTO.startRow}, #{pageDTO.pageSize}
	</select>

	<select id="getStoreBoardCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM STOREPAYMENT SP
		JOIN STORE S ON SP.st_num = S.ST_NUM
		JOIN MEMBERS M ON SP.member_num = M.member_num
		WHERE M.member_id = #{memberId}
		<if test="pageDTO.search != null and pageDTO.search != ''">
			AND (
			SP.sp_num LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR SP.payment_total_price LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR SP.payment_date LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR S.ST_NAME LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR S.ST_TYPE LIKE CONCAT('%', #{pageDTO.search}, '%')
			OR S.ST_CONST LIKE CONCAT('%', #{pageDTO.search}, '%')
			)
		</if>
	</select>
	
	<select id="getMyStorePaymentInfo"
		resultType="com.itwillbs.domain.MypageDTO">
		SELECT
		SP.sp_num,
		SP.payment_total_price,
		SP.payment_date,
		S.ST_NAME,
		S.ST_TYPE,
		S.ST_CONST
		FROM
		STOREPAYMENT SP
		JOIN
		STORE S ON SP.st_num =
		S.ST_NUM
		JOIN
		MEMBERS M ON SP.member_num = M.member_num
		WHERE
		SP.sp_num = #{sp_num}
	</select>









</mapper>