<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.TheaterMapper">

	<select id="getRegionList" resultType="java.util.HashMap">
		SELECT TH_REGION, COUNT(*) AS 'COUNT'
		FROM (
		    SELECT TH_NUM, TH_REGION
		    FROM THEATER
		    ORDER BY TH_NUM
		) AS T
		GROUP BY TH_REGION;
    </select>
        
	<select id="getAreaList" resultType="com.itwillbs.domain.TheaterDTO">
	 	select TH_NUM, TH_NAME, TH_ADDR
		FROM THEATER
		ORDER BY TH_NUM;
	</select>
	
	<!-- 해당 극장에서 상영일자만 중복없이 -->
	<select id="getRunningDate" parameterType="Integer" resultType="map">
	    SELECT DISTINCT DATE_FORMAT(SC_TIME, '%Y-%m-%d') AS DATE,
	    	CASE DAYOFWEEK(SC_TIME)
				WHEN 1 then "일"
		        WHEN 2 then "월"
		        WHEN 3 then "화"
		        WHEN 4 then "수"
		        WHEN 5 then "목"
		        WHEN 6 then "금"
		        WHEN 7 then "토"
	        END AS dayWeek
	    FROM SCREEN
	    WHERE CI_NUM IN (SELECT CI_NUM
					     FROM CINEMA
					     WHERE TH_NUM = #{TH_NUM}
	    				)
	    and DATE_FORMAT(SC_TIME, '%Y-%m-%d') >= current_date()			
	    ORDER BY DATE_FORMAT(SC_TIME, '%Y-%m-%d');
	</select>
	
	
	<!-- 특정 극장의 특정일에 상영하는 모든 영화 리스트 -->
	<select id="getRunningMovie" resultType="map">
		SELECT S.CI_NUM as S.CI_NUM
			, C.TH_NUM as TH_NUM  
			, C.MOVIE_NUM as MOVIE_NUM
			, C.CI_NUMBER as CI_NUMBER
			, S.ROW as 'ROW'
			, S.COL AS 'COL'
			, DATE_FORMAT(S.SC_TIME, '%Y-%m-%d/%H:%i:%s') AS SC_TIME
			, DATE_FORMAT(S.SC_TIME_END, '%Y-%m-%d/%H:%i:%s') SC_TIME_END
			, M.TITLE AS TITLE
			, LEFT(M.RATING, 2) RATING
		    , M.GENRE AS GENRE
		    , M.RELEASEDATE AS DATE
		    , ((current_date() - M.RELEASEDATE) * -1) D_DAY
	    FROM CINEMA C JOIN SCREEN S
		ON C.CI_NUM = S.CI_NUM
		JOIN MOVIE M
		ON  C.MOVIE_NUM = M.MOVIE_NUM
		WHERE TH_NUM = #{TH_NUM}
		AND DATE_FORMAT(S.SC_TIME, '%Y-%m-%d') = #{SC_DATE}
		ORDER BY RELEASEDATE, MOVIE_NUM;
	</select>
	
	
</mapper>  