input[type="text"], [type="password"], [type="email"], [type="date"], [type="datetime-local"], textarea, select, option{
    color: #888;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #b5b5b5;
    border-radius: 5px; /* 모서리를 둥글게 */
    padding: 5px; /* 내부 여백 */
    font-size: 14px; /* 폰트 크기 */
}

input[type="text"]:focus, [type="password"]:focus, [type="email"]:focus, [type="date"]:focus, [type="datetime-local"]:focus, textarea:focus, select:focus, option:focus {
    outline: none;
    border-color: #888; /* 포커스 시 보더 색상 변경 */
}




