.table-infoboard th, .table-infoboard td {
	padding: 10px;
	text-align: left;
	vertical-align: middle;
	border: 1px solid #ddd; /* 선을 1px로 설정하고, 색상을 연한 회색(#ddd)으로 설정 */
    border-collapse: collapse; /* 테두리 겹침 방지 */
	
}

.table-infoboard th {
	width: 15%; /* 각 th 요소에 적절한 너비 지정 */
	text-align: center; /* 수평 중앙 정렬 */
    vertical-align: middle; /* 수직 중앙 정렬 */
    background-color: #f8f9fa; /* 배경색을 약간 구분되게 설정 */
}

.table-infoboard tbody td {
    border-top: 1px solid #eee; /* 본문의 상단 테두리를 1px로 설정 */
    padding: 12px; /* 셀 안의 내용 여백 */
/*     text-align: center; 본문 텍스트 중앙 정렬 */
    vertical-align: middle; /* 본문 텍스트 수직 중앙 정렬 */
    color: #888; /* 텍스트 색상 */
}

.table-infoboard td {
	width: 20%; /* 각 td 요소에 적절한 너비 지정 */
}

.table-infoboard th:nth-child(1), .table-infoboard td:nth-child(1) {
	width: 10%; /* 회원번호 */
}

.table-infoboard th:nth-child(2), .table-infoboard td:nth-child(2) {
	width: 10%; /* 관리자유무 */
}

.table-infoboard th:nth-child(3), .table-infoboard td:nth-child(3) {
	width: 10%; /* 회원등급 */
}

.table-infoboard th:nth-child(4), .table-infoboard td:nth-child(4) {
	width: 15%; /* 아이디 */
}

.table-infoboard th:nth-child(5), .table-infoboard td:nth-child(5) {
	width: 15%; /* 비밀번호 */
}

.table-infoboard th:nth-child(6), .table-infoboard td:nth-child(6) {
	width: 20%; /* 닉네임 */
}

.table-infoboard th:nth-child(7), .table-infoboard td:nth-child(7) {
	width: 10%; /* 성별 */
}

.button-container {
	margin-top: 10px; /* 버튼 위에 여백 추가 */
}