.table th {
	background-color: #f2f2f2 !important; /* 연한 회색 배경 */
	text-align: center !important; /* 수평 중앙 정렬 */
    vertical-align: middle !important; /* 수직 중앙 정렬 */
}

td {
    vertical-align: middle !important; /* 수직 중앙 정렬 */
    padding: 10px !important; /* 여백을 추가하여 좀 더 시각적으로 균형 잡힌 모습 */
}