@charset "UTF-8";

.col-my-coupon h3 {
    height: auto !important;
    margin: 5px 0 13px !important;
    background-image: none !important;
    font-family: "Noto Sans KR" !important;
    font-weight: 700 !important;
    font-size: 1.923em !important;
    color: #373e46 !important;
    line-height: 1.2em !important;
}

.col-one-point h3 {
    height: auto !important;
    margin: 5px 15px 10px 20px !important;
    background-image: none !important;
    font-family: "Noto Sans KR" !important;
    font-weight: 700 !important;
    font-size: 1.923em !important;
    color: #222 !important;
    line-height: 1.2em !important;
}

